/*SECTION TUNING START*/
.tuning {
    background: url("../img/tuning-bg.png") no-repeat left top, #000;
    background-size: 50% 100%;
    padding-top: 121px;
    padding-bottom: 653px;
    position: relative;
}
.tuning-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.tuning-column {
    text-align: center;
    display: flex;
    justify-content: center;
}

.chip-tuning-content {
    flex: 0 0 435px;
}

.tuning-column-title {
    text-align: center;
    font-family: "Gotham Pro", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
    color: #fff;
    margin-bottom: 94px;
}

.tuning-column-subtitle {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    font-family: "Gotham Pro", sans-serif;
    color: #fff;
    line-height: 34px;
    position: relative;
}

.tuning-column-subtitle._left{
    margin-bottom: 113px;
}

.tuning-column-subtitle._right{
    margin-bottom: 83px;
}

.tuning-column-subtitle::after{
    content: "";
    height: 2px;
    background-color: #B80000;
    left:50%;
    bottom: -14px;
    transform: translateX(-50%);
    position: absolute;
}

.tuning-column-subtitle._left::after {
    width: 248px;
}

.tuning-column-subtitle._right::after {
    width: 152px;
}

.tuning-column-text{
    font-size: 17px;
    color: #fff;
    font-family: "Gotham Pro", sans-serif;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}

.tuning-services {
    flex: 0 0 475px;
}

.tuning-slider {
    max-width: 472px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tuning-slider-arrow{
    cursor: pointer;
    position: relative;
    top: 15px;
}

.tuning-slider-content {
    width: 372px;
    padding-top: 29px;
    overflow: hidden;
}

.tuning-slides {
    width: 300%;
    transition: transform 0.6s ease;
    display: flex;
}

.tuning-slider-item{
    flex: 0 0 372px;
    background: #2E2E2E;
    height: 299px;
    padding: 0 36px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.tuning-slider-icon{
    position: relative;
    top: -29px;
}

.tuning-slider-title{
    font-family: "Gotham Pro", sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 31px;
}

.tuning-slider-text{
    font-size: 17px;
    font-weight: 300;
    line-height: 23px;
    font-family: "Gotham Pro", sans-serif;
    text-align: center;
    color: #fff;
}
/*SECTION TUNING END*/
