/*SECTION 3 START*/
.questions {
    background: url("../img/questions.png") no-repeat left top, #000;
    background-size: 50% 100%;
    padding-top: 90x;
    padding-bottom: 110px;
}

.questions-title {
    font-family: "Gotham Pro", sans-serif;
    font-size: 51px;
    line-height: 61px;
    width: 479px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 90px;
}

.questions-content {
    display: flex;
    justify-content: space-around;
}

.questions-column {
    flex: 0 0 435px;
}

.questions-item {
    margin-bottom: 139px;
}

.questions-item-title {
    font-family: "Gotham Pro", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    margin-bottom: 82px;
    position: relative;
    display: inline-block;
}

.questions-item-title::after {
    content: "";
    height: 4px;
    bottom: -13px;
    background-color: #fff;
    position: absolute;
    width: 98%;
    left: 0;
}

.questions-item-text {
    font-family: "Gotham Pro", sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
}

/*SECTION 3 END*/
@media (max-width: 992px) {
    .questions-title {
        font-size: 35px;
    }

    .questions-item-title {
        font-weight: 500;
        font-size: 19px;
    }

    .questions-item-text {
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
    }
    .questions-column{
        max-width: 35%;
    }
}

@media (max-width: 480px) {
    .questions{
        padding: 0;
        background-size: auto;
    }
    .questions-content{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 33px;
    }
    .questions-column{
        flex: 0;
        max-width: 100%;
    }
    .questions-item{
        margin-bottom: 100px;
    }
    .questions-item-title{
        font-weight: 500;
        font-size: 25px;
    }
    .questions-item-text{
        font-weight: 300;
        font-size: 17px;
        line-height: 25px;
    }
}
